/* =============== Cellphone Layout =============== */
	/* ========= HTML Element Settings ========== */
		/* ===== Global ===== */
		* {
			margin: 0;
			padding: 0;
		}

		body {
			font: 10pt/1.5 Arial, Helvetica, sans-serif;
			color: #333333;
		}

		main {
		 	display: flex;
			flex-wrap: wrap;
		}

		header {
			height: 80px;
			background-color: #252831;
			text-align: center;
			position: fixed;
			width: 100%;
			z-index: 1010;
		}

		a {
			text-decoration: none;
		}

		a:hover, a:focus {
			color: #3397db;
		}

		li {
			list-style: none;
		}

		/* ===== Nested ===== */
		header a {
			font-size: 14pt;
			font-weight: normal;
			color: #ffffff;
			letter-spacing: 10px;
			text-transform: uppercase;
		}

		footer a {
			color: #ffa500;
		}

	/* ========= Veiwport: Flexbox Settings ========== */
		/* ===== Index Page ===== */
		#index-map-container {
			order: 0;
			margin: 80px 0 0;
			width: 100%;
		}

		#filter-container {
			order: 10;
			height: 81px;
			width: 100%;
			background-color: #3397DB;
		}

		#restaurants-container {
			order: 20;
			width: 100%;
		}

		/* ===== Restaurant Page ===== */
		#breadcrumb-container {
			order: 0;
			position: fixed;
			top: 80px;
			width: 100%;
			z-index: 1010;
		}

		#restaurant-map-container {
			order: 10;
			margin: 121px 0 0;
			width: 100%;
		}

		#restaurant-container {
			order: 20;
			padding: 15px;
			border-bottom: 1px solid #d9d9d9;
			width: 100%; 
		}

		#reviews-container {
			order: 30;
			padding: 0 15px 15px;
			border-top: 1px solid #ffffff;
			width: 100%;
		}

	/* ========= Style Settings ========== */
		/* ===== Global ===== */
		#map {
			height: 400px;
			width: 100%;
		}

		#breadcrumb {
		    background-color: #eeeeee;
		    font-size: 17px;
		    padding: 8px;
		}

		#restaurants-list {
			background-color: #f3f3f3;
			padding: 15px 15px 0 15px;
		}

		#restaurant-name {
			color: #f18200;
			font-size: 20pt;
			font-weight: 200;
			margin: 0 0 15px;
			text-transform: uppercase;
		}

		#restaurant-img {
			width: 100%;
		}

		#restaurant-cuisine {
			background-color: #333;
			color: #ddd;
			font-size: 12pt;
			letter-spacing: 10px;
			padding: 4px;
			text-align: center;
			text-transform: uppercase;
		}

		#restaurant-address {
		  font-size: 12pt;
		  margin: 10px 0;
		}

		#footer {
			background-color: #444444;
			color: #aaaaaa;
			font-size: 8pt;
			letter-spacing: 1px;
			padding: 25px;
			text-align: center;
			text-transform: uppercase;
		}

		/* ===== Nested ===== */
		#breadcrumb li {
		    display: inline;
		}

		#breadcrumb li+li:before {
		    padding: 8px;
		    content: "/\00a0";
		}

		#filter-container h2 {
			font-weight: normal;
			color: #ffffff;
			margin: 0 0 0 20px;
			vertical-align: middle;
		}

		#filter-container select {
			background-color: #ffffff;
			border: 0;
			height: 35px;
			margin: 8px;
			padding: 0 18px 0 10px;
		}

		#restaurants-container h1 {
			font-weight: normal;
			color: #f18200;
			margin: 15px 0;
			text-transform: uppercase;
		}

		#restaurants-list p {
			font-size: 11pt;
		}

		#restaurants-list li {
			background-color: #ffffff;
			border: 2px solid #cccccc;
			margin: 0 0 15px;
			padding: 25px;
		}

		#restaurants-list li a {
			background-color: #ffa500;
			border-bottom: 3px solid #eeeeee;
			color: #ffffff;
			display: inline-block;
			margin: 15px 0 0;
			padding: 10px;
			text-transform: uppercase;
		}

		#restaurants-list .restaurant-img {
			width: 100%;
		}

		#restaurant-hours td {
			color: #666666;
		}

		#reviews-container h2 {
			color: #f58500;
			font-size: 24pt;
			font-weight: 300;
			letter-spacing: -1px;
		}

		#reviews-list li {
			border: 2px solid #f3f3f3;
			margin: 0 0 30px;
			padding: 20px;
		}

		#reviews-list li p {
			margin: 0 0 10px;
		}
